@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-zinc-100 antialiased selection:bg-indigo-500 selection:text-white;
  }
}

/* Custom bento dark scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
