VITE_SUPABASE_URL=https://zmhmdvmyeyswunurcyow.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_-TE6E79mrn4fSs4XGnvWnw_2QgDrX0P
VITE_VAPID_PUBLIC_KEY=BEK8u-tC-dmIcTTIfUjjlJAOIj-5_pTm_tDFyk44L3SO--jW15g_sIl6gqQu3zp8COwXYgxCxRutrsClILaKxK8
VITE_GROQ_MODEL=llama-3.1-8b-instant
VITE_WHISPER_MODEL=whisper-large-v3
VITE_DEMO_MODE=false
    